<div id="newprompt">
  <h1>Suggest a New Prompt</h1>
  <%= form_for @prompt, role: :form do |f| %>
    <div class="input-group">
      <%= f.label :question, nil, class: "control-label" %>
      <%= f.text_field :question, class: "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label "Difficulty : ", {for: :difficulty, class: "control-label"} %>
      <div id="slider"></div>
      <b>Easy</b>
      <%= f.range_field(:difficulty, in: 1..10) %><b>Hard</b>
    </div>
    <%= f.submit %>
  <% end %>
</div>