<h1>Suggest a new Prompt</h1>
  <%= form_for @prompt do |f| %>
    <p>
      <%= f.label :question %>
      <%= f.text_field :question %>
    </p>
    <p>
      <%= f.label :difficulty %>
      <%= f.text_field :difficulty %>
    </p>

    <%= f.submit %>
  <% end %>
