<%= form_for @current_user do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <%= f.submit %>
<% end %>

<p>Points: <%= @current_user.points %></p>
<div id="sectiondoodles">
<% @current_user.doodles.each do |doodle| %>
   <div class="userdoodle">
    <p>
      <%= doodle.prompt.question %>: +<%= doodle.prompt.difficulty %>
    </p>
    <div class="doodle img-responsive img-rounded">
      <%= image_tag(doodle.image) %>
    </div>
  </div>
<% end %>
</div>