<%= form_for @user do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <%= f.submit %>
<% end %>

<p>Points: <%= @user.points %></p>

<% @user.doodles.each do |doodle| %>
  <div>
    <p>
      <%= doodle.prompt.question %>
    </p>
    <%= image_tag(doodle.image) %>
  </div>
<% end %>
