<% unless @prompt %>
  <div id='sectiondoodles'>
    <div class='doodle img-responsive img-rounded'>
      <%= image_tag(@doodle.image) %>
    </div>
      <%= form_tag doodle_guess_path do %>
        <% @prompts.shuffle.each do |prompt|%>
          <%= radio_button_tag(:question, prompt) %>
          <%= label_tag(:question, prompt) %>
        <% end %>
        <%= text_field_tag(:id, @doodle.id, hidden: true )%>
        <p>
          <%= submit_tag(value = 'Guess!') %>
        </p>
      <% end %>
    </div>
<% else %>
  <div class="welcome">
    <p><%= @prompt %></p>
  </div>
<% end %>